In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

plt.style.use('ggplot')
%matplotlib inline

pd.set_option("display.max_columns",30)
pd.set_option("display.max_colwidth",100)
pd.set_option("display.precision",3)

csv_path = r"/Users/kangmeng/Documents/zhw/PMLB/magic.csv"
df = pd.read_csv(csv_path)
df.columns

Index(['routablemask_link', 'routablemask_link/_text',
       'routablemask_link/_title', 'routablemask_link_numbers',
       'routablemask_content', 'imagebadge_value', 'imagebadge_value_numbers',
       'routable_link', 'routable_link/_text', 'routable_link/_title',
       'routable_link_numbers', 'listingtype_value', 'pricelarge_value',
       'pricelarge_value_prices', 'propertyinfo_value',
       'propertyinfo_value_numbers', 'fineprint_value',
       'fineprint_value_numbers', 'tozcount_number', 'tozfresh_value',
       'tablegrouped_values', 'tablegrouped_values_prices', '_PAGE_NUMBER'],
      dtype='object')

In [14]:
df.head().T

,0,1,2,3,4
routablemask_link,"http://www.zillow.com/b/2-Ellwood-St-New-York-NY/40.85899,-73.92814_ll/","http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/
routablemask_link/_text,5 photos,10 photos,NaN,9 photos,5 photos
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,5,10,NaN,9,5
routablemask_content,NaN,NaN,NaN,NaN,NaN
imagebadge_value,5 photos,10 photos,NaN,9 photos,5 photos
imagebadge_value_numbers,5,10,NaN,9,5
routable_link,"http://www.zillow.com/b/2-Ellwood-St-New-York-NY/40.85899,-73.92814_ll/","http://www.zillow.com/b/603-W-140th-St-New-York-NY/40.82376,-73.95335_ll/",http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/
routable_link/_text,2 Ellwood St,603 W 140th St,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028"
routable_link/_title,"2 Ellwood St APT 5H, New York, NY Real Estate","603 W 140th St APT 44, New York, NY Real Estate","9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate"
routable_link_numbers,2,603; 140,9; 129; 1,710; 2,413; 84; 8
listingtype_value,Apartments For Rent,Apartments For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,NaN,NaN,"$1,750/mo","$3,000/mo","$2,300/mo"
pricelarge_value_prices,NaN,NaN,1.75e+03,3e+03,2.3e+03
propertyinfo_value,"2 Ellwood St, New York, NY","603 W 140th St, New York, NY",1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba
propertyinfo_value_numbers,2,603; 140,1; 1,2; 2; 1016,1
fineprint_value,6 matching units,2 matching units,NaN,NaN,NaN
fineprint_value_numbers,6,2,NaN,NaN,NaN
tozcount_number,NaN,NaN,48,1,2
tozfresh_value,Updated today,Updated today,minutes ago,hour ago,hours ago
tablegrouped_values,"1 Bedrooms $1,500+ 1.0 ba -- sqft; 2 Bedrooms $1,750+ 1.0 ba -- sqft","1 Bedrooms $2,100 1.0 ba 800 sqft; 2 Bedrooms $2,595 1.0 ba 1,000 sqft",NaN,NaN,NaN
tablegrouped_values_prices,1500; 1750,2100; 2595,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1

In [15]:
#多个单元
mu = df[df['listingtype_value'].str.contains('Apartments For')]
len(mu)

161

In [16]:
#单个单元
su = df[df['listingtype_value'].str.contains('Apartment For')]
len(su)

339

In [13]:
#检查没有包含Studion或bd的行数
len(su[~(su['propertyinfo_value'].str.contains('Studio')|su['propertyinfo_value'].str.contains('bd'))])

0

In [17]:
#检查没有包含ba浴室的行数
len(su[~(su['propertyinfo_value'].str.contains('ba'))])

6

In [18]:
#没有浴室的房源
no_baths = su[~(su['propertyinfo_value'].str.contains('ba'))]
no_baths

,routablemask_link,routablemask_link/_text,routablemask_link/_title,routablemask_link_numbers,routablemask_content,imagebadge_value,imagebadge_value_numbers,routable_link,routable_link/_text,routable_link/_title,routable_link_numbers,listingtype_value,pricelarge_value,pricelarge_value_prices,propertyinfo_value,propertyinfo_value_numbers,fineprint_value,fineprint_value_numbers,tozcount_number,tozfresh_value,tablegrouped_values,tablegrouped_values_prices,_PAGE_NUMBER
84,http://www.zillow.com/homedetails/122-Orchard-St-APT-5-New-York-NY-10002/2107559306_zpid/,5 photos,NaN,5.0,NaN,5 photos,5.0,http://www.zillow.com/homedetails/122-Orchard-St-APT-5-New-York-NY-10002/2107559306_zpid/,"122 Orchard St APT 5, New York, NY10002","122 Orchard St APT 5, New York, NY Real Estate",122; 5,Apartment For Rent,"$2,500/mo",2500.0,Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
106,http://www.zillow.com/homedetails/302-Mott-St-APT-19-New-York-NY-10012/2118428685_zpid/,6 photos,NaN,6.0,NaN,6 photos,6.0,http://www.zillow.com/homedetails/302-Mott-St-APT-19-New-York-NY-10012/2118428685_zpid/,"302 Mott St APT 19, New York, NY10012","302 Mott St APT 19, New York, NY Real Estate",302; 19,Apartment For Rent,"$2,395/mo",2395.0,1 bd,1,NaN,NaN,NaN,NaN,NaN,NaN,5
150,http://www.zillow.com/homedetails/180-Prince-St-APT-10-New-York-NY-10012/2113065083_zpid/,10 photos,NaN,10.0,NaN,10 photos,10.0,http://www.zillow.com/homedetails/180-Prince-St-APT-10-New-York-NY-10012/2113065083_zpid/,"180 Prince St APT 10, New York, NY10012","180 Prince St APT 10, New York, NY Real Estate",180; 10,Apartment For Rent,"$2,695/mo",2695.0,Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
225,http://www.zillow.com/homedetails/416-E-9th-St-1BR-New-York-NY-10009/2107643261_zpid/,5 photos,NaN,5.0,NaN,5 photos,5.0,http://www.zillow.com/homedetails/416-E-9th-St-1BR-New-York-NY-10009/2107643261_zpid/,"416 E 9th St # 1BR, New York, NY10009","416 E 9th St # 1BR, New York, NY Real Estate",416; 9; 1,Apartment For Rent,"$2,350/mo",2350.0,1 bd,1,NaN,NaN,NaN,NaN,NaN,NaN,10
313,http://www.zillow.com/homedetails/146-Orchard-St-APT-4C-New-York-NY-10002/2117515427_zpid/,5 photos,NaN,5.0,NaN,5 photos,5.0,http://www.zillow.com/homedetails/146-Orchard-St-APT-4C-New-York-NY-10002/2117515427_zpid/,"146 Orchard St APT 4C, New York, NY10002","146 Orchard St APT 4C, New York, NY Real Estate",146; 4,Apartment For Rent,"$2,395/mo",2395.0,Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
331,http://www.zillow.com/homedetails/274-Mott-St-APT-5B-New-York-NY-10012/2108769166_zpid/,2 photos,NaN,2.0,NaN,2 photos,2.0,http://www.zillow.com/homedetails/274-Mott-St-APT-5B-New-York-NY-10012/2108769166_zpid/,"274 Mott St APT 5B, New York, NY10012","274 Mott St APT 5B, New York, NY Real Estate",274; 5,Apartment For Rent,"$2,475/mo",2475.0,1 bd,1,NaN,NaN,NaN,NaN,NaN,NaN,14

In [19]:
#排除缺失浴室的房源
sucln = su[~su.index.isin(no_baths.index)]
#使用项目符号进行切分
def parse_info(row):
    if not 'sqft' in row:
        br,ba = row.split('•')[:2]
        sqft = np.nan
    else:
        br,ba,sqft=row.split('•')[:3]
    return pd.Series({'Beds':br,'Baths':ba,'sqft':sqft})
attr = sucln['propertyinfo_value'].apply(parse_info)
attr

        Beds   Baths         sqft
2      1 bd     1 ba          NaN
3     2 bds    2 ba    1,016 sqft
4    Studio     1 ba          NaN
5     2 bds     1 ba          NaN
7     2 bds     1 ba          NaN
10     1 bd     1 ba          NaN
11     1 bd    1 ba     496 sqft
12   Studio     1 ba          NaN
13     1 bd     1 ba          NaN
17     1 bd     1 ba          NaN
18   Studio     1 ba          NaN
19     1 bd     1 ba          NaN
20     1 bd    1 ba      700 sqft
21     1 bd     1 ba          NaN
23   Studio    1 ba      487 sqft
24    2 bds     1 ba          NaN
27     1 bd    1 ba      525 sqft
29    2 bds    1 ba      650 sqft
30     1 bd     1 ba          NaN
33     1 bd     1 ba          NaN
36   Studio     1 ba          NaN
38     1 bd     1 ba          NaN
40   Studio    1 ba     406 sqft
42   Studio    1 ba     350 sqft
44   Studio     1 ba          NaN
45   Studio    1 ba      400 sqft
46     1 bd    1 ba     600 sqft
47     1 bd     1 ba          NaN
48     1 bd     1 ba          NaN
49     1 bd    1 ba     596 sqft
..       ...     ...          ...
450   2 bds    1 ba      900 sqft
451   2 bds     1 ba          NaN
452    1 bd     1 ba          NaN
453    1 bd     1 ba          NaN
454    1 bd     1 ba          NaN
457  Studio    1 ba     540 sqft
458   2 bds     1 ba          NaN
459  Studio     1 ba          NaN
460    1 bd     1 ba          NaN
461  Studio     1 ba          NaN
462  Studio    1 ba           NaN
464  Studio    1 ba     485 sqft
466   2 bds    1 ba      600 sqft
467  Studio    1 ba     522 sqft
468  Studio    1 ba     480 sqft
470  Studio     1 ba          NaN
471  Studio     1 ba          NaN
475    1 bd    1 ba     475 sqft
477  Studio     1 ba          NaN
479    1 bd    1 ba      500 sqft
483   2 bds     1 ba          NaN
484   2 bds     1 ba          NaN
485  Studio     1 ba          NaN
486  Studio    1 ba      400 sqft
487  Studio     1 ba          NaN
490    1 bd     1 ba          NaN
492    1 bd     1 ba          NaN
496  Studio     1 ba          NaN
497  Studio    1 ba      550 sqft
499    1 bd     1 ba          NaN

[333 rows x 3 columns]

In [20]:
#在取值中将字符串删除
attr_cln = attr.applymap(lambda x:x.strip().split(' ')[0] if isinstance(x,str) else np.nan)
attr_cln

       Beds Baths   sqft
2         1     1    NaN
3         2     2  1,016
4    Studio     1    NaN
5         2     1    NaN
7         2     1    NaN
10        1     1    NaN
11        1     1    496
12   Studio     1    NaN
13        1     1    NaN
17        1     1    NaN
18   Studio     1    NaN
19        1     1    NaN
20        1     1    700
21        1     1    NaN
23   Studio     1    487
24        2     1    NaN
27        1     1    525
29        2     1    650
30        1     1    NaN
33        1     1    NaN
36   Studio     1    NaN
38        1     1    NaN
40   Studio     1    406
42   Studio     1    350
44   Studio     1    NaN
45   Studio     1    400
46        1     1    600
47        1     1    NaN
48        1     1    NaN
49        1     1    596
..      ...   ...    ...
450       2     1    900
451       2     1    NaN
452       1     1    NaN
453       1     1    NaN
454       1     1    NaN
457  Studio     1    540
458       2     1    NaN
459  Studio     1    NaN
460       1     1    NaN
461  Studio     1    NaN
462  Studio     1    NaN
464  Studio     1    485
466       2     1    600
467  Studio     1    522
468  Studio     1    480
470  Studio     1    NaN
471  Studio     1    NaN
475       1     1    475
477  Studio     1    NaN
479       1     1    500
483       2     1    NaN
484       2     1    NaN
485  Studio     1    NaN
486  Studio     1    400
487  Studio     1    NaN
490       1     1    NaN
492       1     1    NaN
496  Studio     1    NaN
497  Studio     1    550
499       1     1    NaN

[333 rows x 3 columns]

In [21]:
sujnd = sucln.join(attr_cln)
sujnd.T

,2,3,4,5,7,10,11,12,13,17,18,19,20,21,23,...,470,471,475,477,479,483,484,485,486,487,490,492,496,497,499
routablemask_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routable_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035","217 Thompson St APT 6, New York, NY10012","340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023","646 10th Ave APT 4B, New York, NY10036","76 Carmine St APT 4C, New York, NY10014","146 W 120th St APT 8, New York, NY10027","137 W 72nd St APT 4FE, New York, NY10023","178 Avenue B # 2, New York, NY10009","95 Wall St, New York, NY",...,"304 E 41st St APT 1107A, New York, NY10017","169 Avenue A APT 1, New York, NY10009","722 10th Ave APT 3A, New York, NY10019","200 W 70th St APT 11L3, New York, NY10023","219 W 78th St APT 2F, New York, NY10024","405 W 49th St APT 2W, New York, NY10019","230 E 26th St APT 3A, New York, NY10010","319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065","303 E 73rd St # E, New York, NY10021","422 E 81st St APT 4A, New York, NY10028","445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035","434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","646 10th Ave APT 4B, New York, NY Real Estate","76 Carmine St APT 4C, New York, NY Real Estate","146 W 120th St APT 8, New York, NY Real Estate","137 W 72nd St APT 4FE, New York, NY Real Estate","178 Avenue B # 2, New York, NY Real Estate","95 Wall, Studio E1O Real Estate",...,"304 E 41st St APT 1107A, New York, NY Real Estate","169 Avenue A APT 1, New York, NY Real Estate","722 10th Ave APT 3A, New York, NY Real Estate","200 W 70th St APT 11L3, New York, NY Real Estate","219 W 78th St APT 2F, New York, NY Real Estate","405 W 49th St APT 2W, New York, NY Real Estate","230 E 26th St APT 3A, New York, NY Real Estate","319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,9; 129; 1,710; 2,413; 84; 8,324; 6,217; 6,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,646; 10; 4,76; 4,146; 120; 8,137; 72; 4,178; 2,95,...,304; 41; 1107,169; 1,722; 10; 3,200; 70; 11,219; 78; 2,405; 49; 2,230; 26; 3,319; 53; 2,53; 3,25; 67; 8,303; 73,422; 81; 4,445; 49; 3,203; 121; 901,434; 72; 2
listingtype_value,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo","$2,800/mo","$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo","$2,225/mo","$2,450/mo","$1,800/mo","$2,850/mo","$2,700/mo","$3,000+/mo",...,"$2,200/mo","$2,195/mo","$2,995/mo","$1,895/mo","$2,493/mo","$2,925/mo","$2,940/mo","$2,170/mo","$2,300/mo","$2,600/mo","$2,265/mo","$2,150/mo","$2,195/mo","$1,795/mo","$2,150/mo"
pricelarge_value_prices,1.75e+03,3e+03,2.3e+03,2.5e+03,2.8e+03,2.49e+03,2.75e+03,2.15e+03,2.88e+03,2.22e+03,2.45e+03,1.8e+03,2.85e+03,2.7e+03,3e+03,...,2.2e+03,2.2e+03,3e+03,1.9e+03,2.49e+03,2.92e+03,2.94e+03,2.17e+03,2.3e+03,2.6e+03,2.26e+03,2.15e+03,2.2e+03,1.8e+03,2.15e+03
propertyinfo_value,1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,2 bds • 1 ba,1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba • 700 sqft,1 bd • 1 ba,Studio • 1 ba • 487 sqft,...,Studio • 1 ba,Studio • 1 ba,1 bd • 1 ba • 475 sqft • Built 1900,Studio • 1 ba,1 bd • 1 ba • 500 sqft,2 bds • 1 ba,2 bds • 1 ba,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,Studio • 1 ba • 550 sqft,1 bd • 1 ba
propertyinfo_value_numbers,1; 1,2; 2; 1016,1,2; 1,2; 1,1; 1,1; 1; 496; 4502; 1900,1,1; 1,1; 1,1,1; 1,1; 1; 700,1; 1,1; 487,...,1,1,1; 1; 475; 1900,1,1; 1; 500,2; 1,2; 1,1,1; 400,1,1; 1,1; 1,1,1; 550,1; 1
fineprint_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fineprint_value_numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozcount_number,48,1,2,2,3,6,6,6,6,6,7,9,9,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,minutes ago,hour ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values_prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,19,19,20,20,20,20,20,20,20,20,20,20,20,20,20
Beds,1,2,Studio,2,2,1,1,Studio,1,1,Studio,1,1,1,Studio,...,Studio,Studio,1,Studio,1,2,2,Studio,Studio,Studio,1,1,Studio,Studio,1
Baths,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
sqft,NaN,"1,016",NaN,NaN,NaN,NaN,496,NaN,NaN,NaN,NaN,NaN,700,NaN,487,...,NaN,NaN,475,NaN,500,NaN,NaN,NaN,400,NaN,NaN,NaN,NaN,550,NaN

In [23]:
#楼层信息
def parse_addy(r):
    so_zip = re.search(', NY(\d+)',r)
    so_flr = re.search('(?:APT|#)\s+(\d+)[A-Z]+,',r)
    if so_zip:
        zipc = so_zip.group(1)
    else:
        zipc = np.nan
    if so_flr:
        flr = so_flr.group(1)
    else:
        flr = np.nan
    return pd.Series({'Zip':zipc,'Flor':flr})
flrzip = sujnd['routable_link/_text'].apply(parse_addy)
suf = sujnd.join(flrzip)
suf.T

,2,3,4,5,7,10,11,12,13,17,18,19,20,21,23,...,470,471,475,477,479,483,484,485,486,487,490,492,496,497,499
routablemask_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routablemask_link/_text,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
routablemask_link/_title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
routablemask_link_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routablemask_content,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
imagebadge_value,NaN,9 photos,5 photos,7 photos,NaN,NaN,9 photos,4 photos,6 photos,NaN,4 photos,6 photos,10 photos,6 photos,17 photos,...,5 photos,8 photos,5 photos,4 photos,6 photos,5 photos,6 photos,5 photos,6 photos,NaN,5 photos,4 photos,4 photos,4 photos,1 photo
imagebadge_value_numbers,NaN,9,5,7,NaN,NaN,9,4,6,NaN,4,6,10,6,17,...,5,8,5,4,6,5,6,5,6,NaN,5,4,4,4,1
routable_link,http://www.zillow.com/homedetails/9-E-129th-St-1-New-York-NY-10035/2100761096_zpid/,http://www.zillow.com/homedetails/710-Riverside-Dr-APT-2C-New-York-NY-10031/124451755_zpid/,http://www.zillow.com/homedetails/413-E-84th-St-APT-8-New-York-NY-10028/2100761260_zpid/,http://www.zillow.com/homedetails/324-Pleasant-Ave-APT-6E-New-York-NY-10035/2100761258_zpid/,http://www.zillow.com/homedetails/217-Thompson-St-APT-6-New-York-NY-10012/2100761371_zpid/,http://www.zillow.com/homedetails/340-W-47th-St-APT-4C-New-York-NY-10036/2108861613_zpid/,http://www.zillow.com/homedetails/1356-1st-Ave-APT-5B-New-York-NY-10021/31539199_zpid/,http://www.zillow.com/homedetails/101-W-77th-St-APT-3C-New-York-NY-10024/2114511658_zpid/,http://www.zillow.com/homedetails/111-W-74th-St-APT-2R-New-York-NY-10023/2123304010_zpid/,http://www.zillow.com/homedetails/646-10th-Ave-APT-4B-New-York-NY-10036/2114397534_zpid/,http://www.zillow.com/homedetails/76-Carmine-St-APT-4C-New-York-NY-10014/2110813540_zpid/,http://www.zillow.com/homedetails/146-W-120th-St-APT-8-New-York-NY-10027/2100762986_zpid/,http://www.zillow.com/homedetails/137-W-72nd-St-APT-4FE-New-York-NY-10023/2105480982_zpid/,http://www.zillow.com/homedetails/178-Avenue-B-2-New-York-NY-10009/2100763265_zpid/,http://www.zillow.com/homedetails/95-Wall-St-72791-New-York-NY-10005/2103168440_zpid/,...,http://www.zillow.com/homedetails/304-E-41st-St-APT-1107A-New-York-NY-10017/2100774366_zpid/,http://www.zillow.com/homedetails/169-Avenue-A-APT-1-New-York-NY-10009/2105208117_zpid/,http://www.zillow.com/homedetails/722-10th-Ave-APT-3A-New-York-NY-10019/2126268388_zpid/,http://www.zillow.com/homedetails/200-W-70th-St-APT-11L3-New-York-NY-10023/2100774851_zpid/,http://www.zillow.com/homedetails/219-W-78th-St-APT-2F-New-York-NY-10024/2100775303_zpid/,http://www.zillow.com/homedetails/405-W-49th-St-APT-2W-New-York-NY-10019/2100776286_zpid/,http://www.zillow.com/homedetails/230-E-26th-St-APT-3A-New-York-NY-10010/2100776283_zpid/,http://www.zillow.com/homedetails/319-E-53rd-St-APT-2B-New-York-NY-10022/2104750345_zpid/,http://www.zillow.com/homedetails/53-Irving-Pl-APT-3K-New-York-NY-10003/2103128441_zpid/,http://www.zillow.com/homedetails/25-E-67th-St-APT-8D-New-York-NY-10065/2100777265_zpid/,http://www.zillow.com/homedetails/303-E-73rd-St-E-New-York-NY-10021/2100777278_zpid/,http://www.zillow.com/homedetails/422-E-81st-St-APT-4A-New-York-NY-10028/2111603077_zpid/,http://www.zillow.com/homedetails/445-W-49th-St-APT-3B-New-York-NY-10019/2106388119_zpid/,http://www.zillow.com/homedetails/203-E-121st-St-APT-901-New-York-NY-10035/2100777283_zpid/,http://www.zillow.com/homedetails/434-E-72nd-St-APT-2C-New-York-NY-10021/2120058527_zpid/
routable_link/_text,"9 E 129th St # 1, New York, NY10035","710 Riverside Dr APT 2C, New York, NY10031","413 E 84th St APT 8, New York, NY10028","324 Pleasant Ave APT 6E, New York, NY10035","217 Thompson St APT 6, New York, NY10012","340 W 47th St APT 4C, New York, NY10036","1356 1st Ave APT 5B, New York, NY10021","101 W 77th St APT 3C, New York, NY10024","111 W 74th St APT 2R, New York, NY10023","646 10th Ave APT 4B, New York, NY10036","76 Carmine St APT 4C, New York, NY10014","146 W 120th St APT 8, New York, NY10027","137 W 72nd St APT 4FE, New York, NY10023","178 Avenue B # 2, New York, NY10009","95 Wall St, New York, NY",...,"304 E 41st St APT 1107A, New York, NY10017","169 Avenue A APT 1, New York, NY10009","722 10th Ave APT 3A, New York, NY10019","200 W 70th St APT 11L3, New York, NY10023","219 W 78th St APT 2F, New York, NY10024","405 W 49th St APT 2W, New York, NY10019","230 E 26th St APT 3A, New York, NY10010","319 E 53rd St APT 2B, New York, NY10022","53 Irving Pl APT 3K, New York, NY10003","25 E 67th St APT 8D, New York, NY10065","303 E 73rd St # E, New York, NY10021","422 E 81st St APT 4A, New York, NY10028","445 W 49th St APT 3B, New York, NY10019","203 E 121st St APT 901, New York, NY10035","434 E 72nd St APT 2C, New York, NY10021"
routable_link/_title,"9 E 129th St # 1, New York, NY Real Estate","710 Riverside Dr APT 2C, New York, NY Real Estate","413 E 84th St APT 8, New York, NY Real Estate","324 Pleasant Ave APT 6E, New York, NY Real Estate","217 Thompson St APT 6, New York, NY Real Estate","340 W 47th St APT 4C, New York, NY Real Estate","1356 1st Ave APT 5B, New York, NY Real Estate","101 W 77th St APT 3C, New York, NY Real Estate","111 W 74th St APT 2R, New York, NY Real Estate","646 10th Ave APT 4B, New York, NY Real Estate","76 Carmine St APT 4C, New York, NY Real Estate","146 W 120th St APT 8, New York, NY Real Estate","137 W 72nd St APT 4FE, New York, NY Real Estate","178 Avenue B # 2, New York, NY Real Estate","95 Wall, Studio E1O Real Estate",...,"304 E 41st St APT 1107A, New York, NY Real Estate","169 Avenue A APT 1, New York, NY Real Estate","722 10th Ave APT 3A, New York, NY Real Estate","200 W 70th St APT 11L3, New York, NY Real Estate","219 W 78th St APT 2F, New York, NY Real Estate","405 W 49th St APT 2W, New York, NY Real Estate","230 E 26th St APT 3A, New York, NY Real Estate","319 E 53rd St APT 2B, New York, NY Real Estate","53 Irving Pl APT 3K, New York, NY Real Estate","25 E 67th St APT 8D, New York, NY Real Estate","303 E 73rd St # E, New York, NY Real Estate","422 E 81st St APT 4A, New York, NY Real Estate","445 W 49th St APT 3B, New York, NY Real Estate","203 E 121st St APT 901, New York, NY Real Estate","434 E 72nd St APT 2C, New York, NY Real Estate"
routable_link_numbers,9; 129; 1,710; 2,413; 84; 8,324; 6,217; 6,340; 47; 4,1356; 1; 5,101; 77; 3,111; 74; 2,646; 10; 4,76; 4,146; 120; 8,137; 72; 4,178; 2,95,...,304; 41; 1107,169; 1,722; 10; 3,200; 70; 11,219; 78; 2,405; 49; 2,230; 26; 3,319; 53; 2,53; 3,25; 67; 8,303; 73,422; 81; 4,445; 49; 3,203; 121; 901,434; 72; 2
listingtype_value,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,...,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent,Apartment For Rent
pricelarge_value,"$1,750/mo","$3,000/mo","$2,300/mo","$2,500/mo","$2,800/mo","$2,490/mo","$2,750/mo","$2,150/mo","$2,875/mo","$2,225/mo","$2,450/mo","$1,800/mo","$2,850/mo","$2,700/mo","$3,000+/mo",...,"$2,200/mo","$2,195/mo","$2,995/mo","$1,895/mo","$2,493/mo","$2,925/mo","$2,940/mo","$2,170/mo","$2,300/mo","$2,600/mo","$2,265/mo","$2,150/mo","$2,195/mo","$1,795/mo","$2,150/mo"
pricelarge_value_prices,1.75e+03,3e+03,2.3e+03,2.5e+03,2.8e+03,2.49e+03,2.75e+03,2.15e+03,2.88e+03,2.22e+03,2.45e+03,1.8e+03,2.85e+03,2.7e+03,3e+03,...,2.2e+03,2.2e+03,3e+03,1.9e+03,2.49e+03,2.92e+03,2.94e+03,2.17e+03,2.3e+03,2.6e+03,2.26e+03,2.15e+03,2.2e+03,1.8e+03,2.15e+03
propertyinfo_value,1 bd • 1 ba,"2 bds • 2 ba • 1,016 sqft",Studio • 1 ba,2 bds • 1 ba,2 bds • 1 ba,1 bd • 1 ba,"1 bd • 1 ba • 496 sqft • 4,502 sqft lot • Built 1900",Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba • 700 sqft,1 bd • 1 ba,Studio • 1 ba • 487 sqft,...,Studio • 1 ba,Studio • 1 ba,1 bd • 1 ba • 475 sqft • Built 1900,Studio • 1 ba,1 bd • 1 ba • 500 sqft,2 bds • 1 ba,2 bds • 1 ba,Studio • 1 ba,Studio • 1 ba • 400 sqft,Studio • 1 ba,1 bd • 1 ba,1 bd • 1 ba,Studio • 1 ba,Studio • 1 ba • 550 sqft,1 bd • 1 ba
propertyinfo_value_numbers,1; 1,2; 2; 1016,1,2; 1,2; 1,1; 1,1; 1; 496; 4502; 1900,1,1; 1,1; 1,1,1; 1,1; 1; 700,1; 1,1; 487,...,1,1,1; 1; 475; 1900,1,1; 1; 500,2; 1,2; 1,1,1; 400,1,1; 1,1; 1,1,1; 550,1; 1
fineprint_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fineprint_value_numbers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozcount_number,48,1,2,2,3,6,6,6,6,6,7,9,9,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tozfresh_value,minutes ago,hour ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,hours ago,Updated today,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tablegrouped_values_prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_PAGE_NUMBER,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...,19,19,20,20,20,20,20,20,20,20,20,20,20,20,20
Beds,1,2,Studio,2,2,1,1,Studio,1,1,Studio,1,1,1,Studio,...,Studio,Studio,1,Studio,1,2,2,Studio,Studio,Studio,1,1,Studio,Studio,1
Baths,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
sqft,NaN,"1,016",NaN,NaN,NaN,NaN,496,NaN,NaN,NaN,NaN,NaN,700,NaN,487,...,NaN,NaN,475,NaN,500,NaN,NaN,NaN,400,NaN,NaN,NaN,NaN,550,NaN
Zip,10035,10031,10028,10035,10012,10036,10021,10024,10023,10036,10014,10027,10023,10009,NaN,...,10017,10009,10019,10023,10024,10019,10010,10022,10003,10065,10021,10028,10019,10035,10021
Flor,NaN,2,NaN,6,NaN,4,5,3,2,4,4,NaN,4,NaN,NaN,...,1107,NaN,3,NaN,2,2,3,2,3,8,NaN,4,3,NaN,2

In [24]:
#感兴趣的列
sudf = suf[['pricelarge_value_prices','Beds','Baths','sqft','Flor','Zip']]
sudf

     pricelarge_value_prices    Beds Baths   sqft  Flor    Zip
2                     1750.0       1     1    NaN   NaN  10035
3                     3000.0       2     2  1,016     2  10031
4                     2300.0  Studio     1    NaN   NaN  10028
5                     2500.0       2     1    NaN     6  10035
7                     2800.0       2     1    NaN   NaN  10012
10                    2490.0       1     1    NaN     4  10036
11                    2750.0       1     1    496     5  10021
12                    2150.0  Studio     1    NaN     3  10024
13                    2875.0       1     1    NaN     2  10023
17                    2225.0       1     1    NaN     4  10036
18                    2450.0  Studio     1    NaN     4  10014
19                    1800.0       1     1    NaN   NaN  10027
20                    2850.0       1     1    700     4  10023
21                    2700.0       1     1    NaN   NaN  10009
23                    3000.0  Studio     1    487   NaN    NaN
24                    2995.0       2     1    NaN   NaN  10002
27                    2700.0       1     1    525   NaN  10009
29                    2800.0       2     1    650   NaN  10002
30                    2850.0       1     1    NaN   NaN  10009
33                    2199.0       1     1    NaN     2  10002
36                    2895.0  Studio     1    NaN     2  10013
38                    2200.0       1     1    NaN   NaN  10002
40                    2600.0  Studio     1    406   NaN  10004
42                    2300.0  Studio     1    350     4  10023
44                    2400.0  Studio     1    NaN     1  10024
45                    2195.0  Studio     1    400     3  10024
46                    2800.0       1     1    600     3  10026
47                    2495.0       1     1    NaN     4  10019
48                    1900.0       1     1    NaN   NaN  10065
49                    1815.0       1     1    596     6  10037
..                       ...     ...   ...    ...   ...    ...
450                   2095.0       2     1    900     2  10032
451                   2000.0       2     1    NaN     2  10032
452                   2095.0       1     1    NaN     1  10029
453                   2250.0       1     1    NaN   NaN  10017
454                   2450.0       1     1    NaN     3  10075
457                   2500.0  Studio     1    540     9  10025
458                   2500.0       2     1    NaN   NaN  10021
459                   1800.0  Studio     1    NaN     5  10075
460                   2495.0       1     1    NaN   NaN  10003
461                   2950.0  Studio     1    NaN   NaN    NaN
462                   2950.0  Studio     1    NaN   NaN    NaN
464                   2500.0  Studio     1    485    20  10016
466                   2595.0       2     1    600     2  10011
467                   2965.0  Studio     1    522   NaN    NaN
468                   2815.0  Studio     1    480   NaN    NaN
470                   2200.0  Studio     1    NaN  1107  10017
471                   2195.0  Studio     1    NaN   NaN  10009
475                   2995.0       1     1    475     3  10019
477                   1895.0  Studio     1    NaN   NaN  10023
479                   2493.0       1     1    500     2  10024
483                   2925.0       2     1    NaN     2  10019
484                   2940.0       2     1    NaN     3  10010
485                   2170.0  Studio     1    NaN     2  10022
486                   2300.0  Studio     1    400     3  10003
487                   2600.0  Studio     1    NaN     8  10065
490                   2265.0       1     1    NaN   NaN  10021
492                   2150.0       1     1    NaN     4  10028
496                   2195.0  Studio     1    NaN     3  10019
497                   1795.0  Studio     1    550   NaN  10035
499                   2150.0       1     1    NaN     2  10021

[333 rows x 6 columns]

In [25]:
#重命名并重置索引
sudf.rename(columns={'pricelarge_value_prices':'Rent'},inplace=True)
sudf.reset_index(drop=True,inplace=True)
sudf

/Users/kangmeng/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

       Rent    Beds Baths   sqft  Flor    Zip
0    1750.0       1     1    NaN   NaN  10035
1    3000.0       2     2  1,016     2  10031
2    2300.0  Studio     1    NaN   NaN  10028
3    2500.0       2     1    NaN     6  10035
4    2800.0       2     1    NaN   NaN  10012
5    2490.0       1     1    NaN     4  10036
6    2750.0       1     1    496     5  10021
7    2150.0  Studio     1    NaN     3  10024
8    2875.0       1     1    NaN     2  10023
9    2225.0       1     1    NaN     4  10036
10   2450.0  Studio     1    NaN     4  10014
11   1800.0       1     1    NaN   NaN  10027
12   2850.0       1     1    700     4  10023
13   2700.0       1     1    NaN   NaN  10009
14   3000.0  Studio     1    487   NaN    NaN
15   2995.0       2     1    NaN   NaN  10002
16   2700.0       1     1    525   NaN  10009
17   2800.0       2     1    650   NaN  10002
18   2850.0       1     1    NaN   NaN  10009
19   2199.0       1     1    NaN     2  10002
20   2895.0  Studio     1    NaN     2  10013
21   2200.0       1     1    NaN   NaN  10002
22   2600.0  Studio     1    406   NaN  10004
23   2300.0  Studio     1    350     4  10023
24   2400.0  Studio     1    NaN     1  10024
25   2195.0  Studio     1    400     3  10024
26   2800.0       1     1    600     3  10026
27   2495.0       1     1    NaN     4  10019
28   1900.0       1     1    NaN   NaN  10065
29   1815.0       1     1    596     6  10037
..      ...     ...   ...    ...   ...    ...
303  2095.0       2     1    900     2  10032
304  2000.0       2     1    NaN     2  10032
305  2095.0       1     1    NaN     1  10029
306  2250.0       1     1    NaN   NaN  10017
307  2450.0       1     1    NaN     3  10075
308  2500.0  Studio     1    540     9  10025
309  2500.0       2     1    NaN   NaN  10021
310  1800.0  Studio     1    NaN     5  10075
311  2495.0       1     1    NaN   NaN  10003
312  2950.0  Studio     1    NaN   NaN    NaN
313  2950.0  Studio     1    NaN   NaN    NaN
314  2500.0  Studio     1    485    20  10016
315  2595.0       2     1    600     2  10011
316  2965.0  Studio     1    522   NaN    NaN
317  2815.0  Studio     1    480   NaN    NaN
318  2200.0  Studio     1    NaN  1107  10017
319  2195.0  Studio     1    NaN   NaN  10009
320  2995.0       1     1    475     3  10019
321  1895.0  Studio     1    NaN   NaN  10023
322  2493.0       1     1    500     2  10024
323  2925.0       2     1    NaN     2  10019
324  2940.0       2     1    NaN     3  10010
325  2170.0  Studio     1    NaN     2  10022
326  2300.0  Studio     1    400     3  10003
327  2600.0  Studio     1    NaN     8  10065
328  2265.0       1     1    NaN   NaN  10021
329  2150.0       1     1    NaN     4  10028
330  2195.0  Studio     1    NaN     3  10019
331  1795.0  Studio     1    550   NaN  10035
332  2150.0       1     1    NaN     2  10021

[333 rows x 6 columns]

In [26]:
sudf.describe()

           Rent
count   333.000
mean   2492.628
std     366.882
min    1500.000
25%    2200.000
50%    2525.000
75%    2800.000
max    3000.000

In [27]:
#无法看到卧室和浴室的平均数量，工作室公寓认为卧室为0
sudf.loc[:,'Beds']=sudf['Beds'].map(lambda x:0 if 'Studio' in x else x)
sudf

/Users/kangmeng/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

       Rent Beds Baths   sqft  Flor    Zip
0    1750.0    1     1    NaN   NaN  10035
1    3000.0    2     2  1,016     2  10031
2    2300.0    0     1    NaN   NaN  10028
3    2500.0    2     1    NaN     6  10035
4    2800.0    2     1    NaN   NaN  10012
5    2490.0    1     1    NaN     4  10036
6    2750.0    1     1    496     5  10021
7    2150.0    0     1    NaN     3  10024
8    2875.0    1     1    NaN     2  10023
9    2225.0    1     1    NaN     4  10036
10   2450.0    0     1    NaN     4  10014
11   1800.0    1     1    NaN   NaN  10027
12   2850.0    1     1    700     4  10023
13   2700.0    1     1    NaN   NaN  10009
14   3000.0    0     1    487   NaN    NaN
15   2995.0    2     1    NaN   NaN  10002
16   2700.0    1     1    525   NaN  10009
17   2800.0    2     1    650   NaN  10002
18   2850.0    1     1    NaN   NaN  10009
19   2199.0    1     1    NaN     2  10002
20   2895.0    0     1    NaN     2  10013
21   2200.0    1     1    NaN   NaN  10002
22   2600.0    0     1    406   NaN  10004
23   2300.0    0     1    350     4  10023
24   2400.0    0     1    NaN     1  10024
25   2195.0    0     1    400     3  10024
26   2800.0    1     1    600     3  10026
27   2495.0    1     1    NaN     4  10019
28   1900.0    1     1    NaN   NaN  10065
29   1815.0    1     1    596     6  10037
..      ...  ...   ...    ...   ...    ...
303  2095.0    2     1    900     2  10032
304  2000.0    2     1    NaN     2  10032
305  2095.0    1     1    NaN     1  10029
306  2250.0    1     1    NaN   NaN  10017
307  2450.0    1     1    NaN     3  10075
308  2500.0    0     1    540     9  10025
309  2500.0    2     1    NaN   NaN  10021
310  1800.0    0     1    NaN     5  10075
311  2495.0    1     1    NaN   NaN  10003
312  2950.0    0     1    NaN   NaN    NaN
313  2950.0    0     1    NaN   NaN    NaN
314  2500.0    0     1    485    20  10016
315  2595.0    2     1    600     2  10011
316  2965.0    0     1    522   NaN    NaN
317  2815.0    0     1    480   NaN    NaN
318  2200.0    0     1    NaN  1107  10017
319  2195.0    0     1    NaN   NaN  10009
320  2995.0    1     1    475     3  10019
321  1895.0    0     1    NaN   NaN  10023
322  2493.0    1     1    500     2  10024
323  2925.0    2     1    NaN     2  10019
324  2940.0    2     1    NaN     3  10010
325  2170.0    0     1    NaN     2  10022
326  2300.0    0     1    400     3  10003
327  2600.0    0     1    NaN     8  10065
328  2265.0    1     1    NaN   NaN  10021
329  2150.0    1     1    NaN     4  10028
330  2195.0    0     1    NaN     3  10019
331  1795.0    0     1    550   NaN  10035
332  2150.0    1     1    NaN     2  10021

[333 rows x 6 columns]

In [28]:
#Beds不是数值类型
sudf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 6 columns):
Rent     333 non-null float64
Beds     333 non-null object
Baths    333 non-null object
sqft     108 non-null object
Flor     164 non-null object
Zip      320 non-null object
dtypes: float64(1), object(5)
memory usage: 15.7+ KB

In [29]:
#数据类型问题
sudf.loc[:,'Rent'] = sudf['Rent'].astype(int)
sudf.loc[:,'Beds'] = sudf['Beds'].astype(int)
#半间浴室，所以浮点型
sudf.loc[:,'Baths'] = sudf['Baths'].astype(float)
#存在NANS，需要浮点型，首先替换逗号
sudf.loc[:,'sqft'] = sudf['sqft'].str.replace(',','')
sudf.loc[:,'sqft'] = sudf['sqft'].astype(float)
sudf.loc[:,'Flor'] = sudf['Flor'].astype(float)
sudf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 6 columns):
Rent     333 non-null int64
Beds     333 non-null int64
Baths    333 non-null float64
sqft     108 non-null float64
Flor     164 non-null float64
Zip      320 non-null object
dtypes: float64(3), int64(2), object(1)
memory usage: 15.7+ KB

In [30]:
sudf.describe()

           Rent     Beds    Baths      sqft      Flor
count   333.000  333.000  333.000   108.000   164.000
mean   2492.628    0.820    1.008   528.981    11.201
std     366.882    0.718    0.082   133.050    86.178
min    1500.000    0.000    1.000   280.000     1.000
25%    2200.000    0.000    1.000   447.500     2.000
50%    2525.000    1.000    1.000   512.000     4.000
75%    2800.000    1.000    1.000   600.000     5.000
max    3000.000    3.000    2.000  1090.000  1107.000

In [31]:
#索引标号318有问题，放弃
sudf = sudf.drop([318])
sudf.describe()

           Rent     Beds    Baths      sqft     Flor
count   332.000  332.000  332.000   108.000  163.000
mean   2493.509    0.822    1.008   528.981    4.479
std     367.083    0.718    0.082   133.050    3.861
min    1500.000    0.000    1.000   280.000    1.000
25%    2200.000    0.000    1.000   447.500    2.000
50%    2527.500    1.000    1.000   512.000    4.000
75%    2800.000    1.000    1.000   600.000    5.000
max    3000.000    3.000    2.000  1090.000   32.000

In [32]:
sudf.pivot_table('Rent','Zip','Beds',aggfunc='mean')

Beds          0         1         2       3
Zip
10001  2737.500       NaN       NaN     NaN
10002  2283.438  2422.513  2792.647     NaN
10003  2109.889  2487.812  2525.000     NaN
10004  2798.750  2850.000       NaN     NaN
10005  2516.000       NaN       NaN     NaN
10006  2611.000  2788.000       NaN     NaN
10009  2200.909  2568.441  2530.000     NaN
10010       NaN  2299.000  2940.000     NaN
10011  2774.667  2852.000  2595.000     NaN
10012  2547.000  2744.909  2581.667     NaN
10013  2709.286  2584.444  2650.000     NaN
10014  2450.000       NaN       NaN     NaN
10016  2615.000  2450.000       NaN     NaN
10017       NaN  2733.333       NaN     NaN
10019  2195.000  2661.667  2925.000     NaN
10021  1900.000  2388.333  2500.000     NaN
10022  2170.000       NaN       NaN     NaN
10023  2165.000  2773.333       NaN     NaN
10024  2322.500  2621.500       NaN     NaN
10025  2500.000       NaN       NaN     NaN
10026       NaN  2800.000       NaN     NaN
10027       NaN  1850.000       NaN     NaN
10028  2100.000  2333.333       NaN     NaN
10029  1597.500  2097.500  2650.000     NaN
10031       NaN       NaN  2531.250  2700.0
10032       NaN       NaN  2047.500  2350.0
10033       NaN  1825.000       NaN     NaN
10034       NaN       NaN  1900.000     NaN
10035  1795.000  1948.333  2350.000     NaN
10036  2950.000  2357.500  2700.000     NaN
10037       NaN  1815.000       NaN     NaN
10038  2602.222  2395.000  2647.500     NaN
10040       NaN  1550.000       NaN     NaN
10065  2547.500  2131.667       NaN     NaN
10075  2000.000  2625.000  2695.000     NaN
10128       NaN       NaN  2900.000     NaN
10280  2695.000  2972.500       NaN     NaN
11101       NaN       NaN  2393.000     NaN
11206       NaN       NaN  2600.000     NaN
11209       NaN       NaN  1995.000     NaN
11229       NaN  2595.000       NaN     NaN

In [33]:
sudf.pivot_table('Rent','Zip','Beds',aggfunc='count')

Beds      0     1     2    3
Zip
10001   2.0   NaN   NaN  NaN
10002  16.0  39.0  17.0  NaN
10003   9.0  16.0   2.0  NaN
10004   4.0   1.0   NaN  NaN
10005   4.0   NaN   NaN  NaN
10006   4.0   1.0   NaN  NaN
10009  11.0  34.0   8.0  NaN
10010   NaN   1.0   1.0  NaN
10011   3.0   1.0   1.0  NaN
10012   5.0  11.0   3.0  NaN
10013   7.0   9.0   2.0  NaN
10014   1.0   NaN   NaN  NaN
10016   3.0   1.0   NaN  NaN
10017   NaN   3.0   NaN  NaN
10019   1.0   3.0   1.0  NaN
10021   1.0   3.0   1.0  NaN
10022   1.0   NaN   NaN  NaN
10023   3.0   3.0   NaN  NaN
10024   6.0   2.0   NaN  NaN
10025   1.0   NaN   NaN  NaN
10026   NaN   2.0   NaN  NaN
10027   NaN   2.0   NaN  NaN
10028   2.0   3.0   NaN  NaN
10029   2.0   4.0   1.0  NaN
10031   NaN   NaN   4.0  1.0
10032   NaN   NaN   2.0  1.0
10033   NaN   1.0   NaN  NaN
10034   NaN   NaN   1.0  NaN
10035   1.0   3.0   2.0  NaN
10036   1.0   2.0   1.0  NaN
10037   NaN   2.0   NaN  NaN
10038   9.0   1.0   2.0  NaN
10040   NaN   1.0   NaN  NaN
10065   2.0   3.0   NaN  NaN
10075   2.0   2.0   1.0  NaN
10128   NaN   NaN   2.0  NaN
10280   4.0   2.0   NaN  NaN
11101   NaN   NaN   1.0  NaN
11206   NaN   NaN   1.0  NaN
11209   NaN   NaN   1.0  NaN
11229   NaN   1.0   NaN  NaN

In [42]:
su_lt_two = sudf[sudf['Beds']<2]
import patsy
import statsmodels.api as sm
f = 'Rent ~ Zip+Beds'
y,x = patsy.dmatrices(f,su_lt_two,return_type='dataframe')
results =sm.OLS(y,x).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Rent   R-squared:                       0.377
Model:                            OLS   Adj. R-squared:                  0.283
Method:                 Least Squares   F-statistic:                     4.034
Date:                Sun, 17 Mar 2019   Prob (F-statistic):           1.21e-10
Time:                        16:19:27   Log-Likelihood:                -1856.8
No. Observations:                 262   AIC:                             3784.
Df Residuals:                     227   BIC:                             3908.
Df Model:                          34
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept     2737.5000    219.893     12.449      0.000    2304.207    3170.793
Zip[T.10002]  -503.2729    226.072     -2.226      0.027    -948.740     -57.806
Zip[T.10003]  -519.1638    230.290     -2.254      0.025    -972.943     -65.384
Zip[T.10004]    29.8051    260.334      0.114      0.909    -483.175     542.785
Zip[T.10005]  -221.5000    269.313     -0.822      0.412    -752.174     309.174
Zip[T.10006]  -132.7949    260.334     -0.510      0.610    -645.775     380.185
Zip[T.10009]  -416.4142    227.231     -1.833      0.068    -864.166      31.338
Zip[T.10010]  -646.9746    383.461     -1.687      0.093   -1402.572     108.623
Zip[T.10011]     4.3813    269.543      0.016      0.987    -526.746     535.508
Zip[T.10012]  -197.7638    235.233     -0.841      0.401    -661.283     265.755
Zip[T.10013]  -215.7045    234.573     -0.920      0.359    -677.924     246.515
Zip[T.10014]  -287.5000    380.867     -0.755      0.451   -1037.986     462.986
Zip[T.10016]  -215.8687    269.543     -0.801      0.424    -746.996     315.258
Zip[T.10017]  -212.6413    287.352     -0.740      0.460    -778.860     353.577
Zip[T.10019]  -348.8560    271.376     -1.286      0.200    -883.594     185.882
Zip[T.10021]  -627.6060    271.376     -2.313      0.022   -1162.344     -92.868
Zip[T.10022]  -567.5000    380.867     -1.490      0.138   -1317.986     182.986
Zip[T.10023]  -372.5707    254.885     -1.462      0.145    -874.814     129.673
Zip[T.10024]  -392.3687    246.100     -1.594      0.112    -877.302      92.564
Zip[T.10025]  -237.5000    380.867     -0.624      0.534    -987.986     512.986
Zip[T.10026]  -145.9746    314.148     -0.465      0.643    -764.994     473.045
Zip[T.10027] -1095.9746    314.148     -3.489      0.001   -1714.994    -476.955
Zip[T.10028]  -622.5848    261.550     -2.380      0.018   -1137.960    -107.209
Zip[T.10029]  -945.6498    255.640     -3.699      0.000   -1449.382    -441.918
Zip[T.10033] -1120.9746    383.461     -2.923      0.004   -1876.572    -365.377
Zip[T.10035]  -983.8560    271.376     -3.625      0.000   -1518.594    -449.118
Zip[T.10036]  -321.4831    285.429     -1.126      0.261    -883.912     240.946
Zip[T.10037] -1130.9746    314.148     -3.600      0.000   -1749.994    -511.955
Zip[T.10038]  -176.8475    240.922     -0.734      0.464    -651.578     297.883
Zip[T.10040] -1395.9746    383.461     -3.640      0.000   -2151.572    -640.377
Zip[T.10065]  -564.5848    261.550     -2.159      0.032   -1079.960     -49.209
Zip[T.10075]  -529.2373    270.232     -1.958      0.051   -1061.721       3.247
Zip[T.10280]   -19.4915    254.345     -0.077      0.939    -520.670     481.687
Zip[T.11229]  -350.9746    383.461     -0.915      0.361   -1106.572     404.623
Beds           208.4746     44.528      4.682      0.000     120.734     296.215
==============================================================================
Omnibus:                        3.745   Durbin-Watson:                   2.039
Prob(Omnibus):                  0.154   Jarque-Bera (JB):                2.546
Skew:                          -0.012   Prob(JB):                        0.280
Kurtosis:                       2.518   Cond. No.                         84.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [43]:
x.head()

,Intercept,Zip[T.10002],Zip[T.10003],Zip[T.10004],Zip[T.10005],Zip[T.10006],Zip[T.10009],Zip[T.10010],Zip[T.10011],Zip[T.10012],Zip[T.10013],Zip[T.10014],Zip[T.10016],Zip[T.10017],Zip[T.10019],...,Zip[T.10026],Zip[T.10027],Zip[T.10028],Zip[T.10029],Zip[T.10033],Zip[T.10035],Zip[T.10036],Zip[T.10037],Zip[T.10038],Zip[T.10040],Zip[T.10065],Zip[T.10075],Zip[T.10280],Zip[T.11229],Beds
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
tpdf['value'] = 0
tpdf.loc['Intercept'] = 1
tpdf.loc['Beds'] = 2
tpdf.loc['Zip[T.10002]'] = 1

In [58]:
tpdf['value']=0
tpdf.loc['Intercept']=1
tpdf.loc['Beds']=1
tpdf.loc['Zip[T.10009]']=1
tpdf

              value
Intercept         1
Zip[T.10002]      0
Zip[T.10003]      0
Zip[T.10004]      0
Zip[T.10005]      0
Zip[T.10006]      0
Zip[T.10009]      1
Zip[T.10010]      0
Zip[T.10011]      0
Zip[T.10012]      0
Zip[T.10013]      0
Zip[T.10014]      0
Zip[T.10016]      0
Zip[T.10017]      0
Zip[T.10019]      0
Zip[T.10021]      0
Zip[T.10022]      0
Zip[T.10023]      0
Zip[T.10024]      0
Zip[T.10025]      0
Zip[T.10026]      0
Zip[T.10027]      0
Zip[T.10028]      0
Zip[T.10029]      0
Zip[T.10033]      0
Zip[T.10035]      0
Zip[T.10036]      0
Zip[T.10037]      0
Zip[T.10038]      0
Zip[T.10040]      0
Zip[T.10065]      0
Zip[T.10075]      0
Zip[T.10280]      0
Zip[T.11229]      0
Beds              1

In [59]:
print(tpdf['value'])

Intercept       1
Zip[T.10002]    0
Zip[T.10003]    0
Zip[T.10004]    0
Zip[T.10005]    0
Zip[T.10006]    0
Zip[T.10009]    1
Zip[T.10010]    0
Zip[T.10011]    0
Zip[T.10012]    0
Zip[T.10013]    0
Zip[T.10014]    0
Zip[T.10016]    0
Zip[T.10017]    0
Zip[T.10019]    0
Zip[T.10021]    0
Zip[T.10022]    0
Zip[T.10023]    0
Zip[T.10024]    0
Zip[T.10025]    0
Zip[T.10026]    0
Zip[T.10027]    0
Zip[T.10028]    0
Zip[T.10029]    0
Zip[T.10033]    0
Zip[T.10035]    0
Zip[T.10036]    0
Zip[T.10037]    0
Zip[T.10038]    0
Zip[T.10040]    0
Zip[T.10065]    0
Zip[T.10075]    0
Zip[T.10280]    0
Zip[T.11229]    0
Beds            1
Name: value, dtype: int64

In [60]:
results.predict(tpdf['value'])

ValueError: Length of passed values is 1, index implies 35